img{
    height: auto;
    width: 200px;
}
.no{
    text-align: center;
}
table {
    width: 100%;
    border: 1px solid #ddd;

}

th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

td:first-child {
font-weight: bold;
}