
main p,li{
    text-align: left;
    font-size: medium;
}
h1{
    text-align: left;
}
.a img{
    display: inline;
    height: 150px;
} 
.aa img{
    width: 50%;
    height: 40%;
}
.aa{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);

}
main a{
    color: black;
}

.a img:hover{

    height: 1000px;
} 
.portofoli {
    text-align: center;

}
#i{
    height: 50%;
    width: 50%;
    border: 3px solid black;

}